aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
autopep8==1.5.7
chardet==4.0.0
greenlet==1.1.1
idna==3.2
multidict==5.1.0
pycodestyle==2.7.0
SQLAlchemy==1.4.23
toml==0.10.2
typing-extensions==3.10.0.2
yarl==1.6.3
